<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="box box-1">item 1</div>
        <div class="box box-2">item 2</div>
        <div class="box box-3">item 3</div>
        <div class="box box-4">item 4</div>
        <div class="box box-5">item 5</div>
        <div class="box box-6">item 6</div>
        <div class="box box-7">item 7</div>
        <div class="box box-8">item 8</div>
        <div class="box box-9">item 9</div>
        <div class="box box-10">item 10</div>
        <div class="box box-11">item 11</div>
        <div class="box box-12">item 12</div>
        <div class="box box-13">item 13</div>
        <div class="box box-14">item 14</div>
        <div class="box box-15">item 15</div>
        <div class="box box-16">item 16</div>
        <div class="box box-17">item 17</div>
        <div class="box box-18">item 18</div>
        <div class="box box-19">item 19</div>
        <div class="box box-20">item 20</div>
        <div class="box box-21">item 21</div>
        <div class="box box-22">item 22</div>
        <div class="box box-23">item 23</div>
        <div class="box box-24">item 24</div>
        <div class="box box-25">item 25</div>
        <div class="box box-26">item 26</div>
        <div class="box box-27">item 27</div>
        <div class="box box-28">item 28</div>
        <div class="box box-29">item 29</div>
        <div class="box box-30">item 30</div>
        <div class="box box-31">item 31</div>
        <div class="box box-32">item 32</div>
        <div class="box box-33">item 33</div>
        <div class="box box-34">item 34</div>
        <div class="box box-35">item 35</div>
        <div class="box box-36">item 36</div>
        <div class="box box-37">item 37</div>
        <div class="box box-38">item 38</div>
        <div class="box box-39">item 39</div>
        <div class="box box-40">item 40</div>
        <div class="box box-41">item 41</div>
        <div class="box box-42">item 42</div>
        <div class="box box-43">item 43</div>
        <div class="box box-44">item 44</div>
        <div class="box box-45">item 45</div>
        <div class="box box-46">item 46</div>
        <div class="box box-47">item 47</div>
        <div class="box box-48">item 48</div>
        <div class="box box-49">item 49</div>
        <div class="box box-50">item 50</div>
    </div>
</body>
</html>